<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>通話明細照会・更新</title>
<link rel="stylesheet" href="../share/css/bootstrap.min.css">
<link rel="stylesheet" href="../share/css/style.css">
<link rel="stylesheet" href="../share/css/bootstrap-extend.css">
<link rel="stylesheet" href="../share/css/bootstrap-datepicker3.min.css">
<script src="../share/js/jquery-3.1.1.min.js"></script>
<script src="../share/js/bootstrap.min.js"></script>
<script src="../share/js/jquery.tmpl.min.js"></script>
<script src="../share/js/moment-with-locales.js"></script>
<script src="../share/js/bootstrap-datepicker.min.js"></script>
<script src="../share/js/bootstrap-datepicker.ja.min.js"></script>
<script src="../share/js/common.js"></script>
<script src="./scripts/commUpdate.js"></script>
</head>
<body>
	<div class="container container-extend" id="detailListContainer">
		<div class="well well-extend well-switch" for="switch">
			<label class="label-extend label-switch">検索条件</label>
		</div>
		<div id="switch" class="panel-extend-sm">
			<table class="table-extend">
				<tr>
					<td>SIM電話番号</td>
					<td>
						<input type="text" class="form-control input-extend-m" id="simNumber" validate="mst,ac" placeholder="000-0000-0000">
						<div class="error"></div>
					</td>
				</tr>
				<tr>
					<td>利用年月</td>
					<td>
						<div class="input-group calendar-month">
				            <input type="text" class="form-control date" placeholder="YYYY/MM" id="useDateMonth" validate="mst,ym" format="ym"/>
				            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				        </div>
				        <div class="error calenar-month"></div>
					</td>
				</tr>
			</table>
			<div class="btn-grp-right">
				<button type="button" class="btn btn-extend btn-success" id="search">検索</button>
				<button type="button" class="btn btn-extend btn-success" id="clear">クリア</button>
			</div>
		</div>
		<div class="well well-extend">
			<label class="label-extend">検査結果一覧</label>
		</div>
		<div class="panel-extend" id="detailList"></div>
	</div>

	<div class="container container-extend" id="detailInfoContainer" style="display: none;"></div>
</body>

<!--テンプレート定義-->
<script type="text/html" id="detailListTemplate">
	{{if recordCount < 1}}
		検索結果がありませんでした。
	{{else}}
	<div class="btn-grp-right btn-grp-page">
		{{if index <= 1}}
			<button type="button" class="btn btn-extend btn-disable">前へ</button>
		{{else}}
			<button type="button" class="btn btn-extend btn-success page-change" value="${index-1}">前へ</button>
		{{/if}}
		${index}/${pagenum}(合計${recordCount}件)
		{{if index >= pagenum}}
			<button type="button" class="btn btn-extend btn-disable">次へ</button>
		{{else}}
			<button type="button" class="btn btn-extend btn-success page-change" value="${index+1}">次へ</button>
		{{/if}}
	</div>
	<table class="table list-table">
		<tr>
			<th></th>
			<th>SIM電話番号</th>
			<th>利用年月</th>
		</tr>
		{{each res}}
		<tr>
			<td><button type="button" class="btn btn-extend btn-inquery-update" value="${simNumber},${useDateMonth}">照会更新</button></td>
			<td format="msn">${simNumber}</td>
			<td format="ym">${useDateMonth}</td>
		</tr>
		{{/each}}
	</table>
	{{/if}}
</script>

<script type="text/html" id="detailInfoTemplate">
	<div class="well well-extend">
		<label class="label-extend label-switch">通話明細照会・更新</label>
	</div>
	<div id="switch" class="panel-extend">
		<table class="table-extend">
			<tr>
				<td>SIM電話番号</td>
				<td class="values" format="msn">${simNumber}</td>
			</tr>
			<tr>
				<td>利用年月</td>
				<td class="values format" format="ym">${useDateMonth}</td>
			</tr>
			<tr>
				<td>請求年月</td>
				<td>
					<div class="input-group calendar-month">
				        <input type="text" class="form-control date format" placeholder="YYYY/MM" value="${billDateMonth}" id="diBillDateMonth" format="ym" validate="ym" label="請求年月"/>
				        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				    </div>
				    <div class="error calendar-error"></div>
				</td>
			</tr>
			<tr>
				<td>請求ステータス</td>
				<td>
		      		<select class="form-control select-extend" id="diBillStatus">
						<option value="0" {{if billStatus == 0}}selected{{/if}}>未</option>
						<option value="1" {{if billStatus == 1}}selected{{/if}}>済</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>契約ID</td>
				<td class="values">${cntrctID}</td>
			</tr>
			<tr>
				<td>データ量合計（バイト）</td>
				<td>
					<input type="text" class="form-control input-extend-m" value="${dataUsage_byte}" id="diDataUsageByte" format="num" validate="num" min="0" max="99999999999999" label="データ量合計（バイト）"/>GB
					<div class="error"></div>
				</td>
			</tr>
			<tr>
				<td>データ量合計（パケット）</td>
				<td>
					<input type="text" class="form-control input-extend-m" value="${dataUsage_packet}" id="diDataUsagePacket" format="num" validate="num" min="0" max="999999999999" label="データ量合計（パケット）"/>パケット
					<div class="error"></div>
				</td>
			</tr>
			<tr>
				<td>データ量合計（通信料）</td>
				<td>
					<input type="text" class="form-control input-extend-m" value="${dataUsage_commFree}" id="diUsageCommFree" format="num" validate="num" min="0" max="999999999999" label="データ量合計（通信料）"/>円
					<div class="error"></div>
				</td>
			</tr>
			<tr>
				<td>通話レコード件数</td>
				<td>
					<input type="text" class="form-control input-extend-m" value="${commRecordCount}" id="diCommRecordCount" format="num" validate="num" min="0" max="999999" label="通話レコード件数"/>件
					<div class="error"></div>
				</td>
			</tr>
			<tr>
				<td>通話レコード件数（自）</td>
				<td>
					<div class="input-group calendar-month">
				        <input type="text" class="form-control date" placeholder="MM/DD" value="${commUsageSpanCom}"" id="diCommUsageSpanCom" format="md" validate="md" label="通話レコード件数（自）"/>
				        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				    </div>
				    <div class="error calendar-error"></div>
				</td>
			</tr>
			<tr>
				<td>通話レコード件数（至）</td>
				<td>
					<div class="input-group calendar-month">
				        <input type="text" class="form-control date" placeholder="MM/DD" value="${commUsageSpanOut}"" id="diCommUsageSpanOut" format="md" validate="md" label="通話レコード件数（至）"/>
				        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				    </div>
				   	<div class="error calendar-error"></div>
				</td>
			</tr>
			<tr>
				<td>通話量合計</td>
				<td>
					<input type="text" class="form-control input-extend-m" value="${commFreeTotal}" id="diCommFreeTotal" format="num" validate="num" label="通話量合計"/>円
					<div class="error"></div>
				</td>
			</tr>
			<tr>
				<td>商品コード</td>
				<td>
					<select class="form-control select-extend" id="diProductCode">
						<option value="3100" {{if productCode == 3100}}selected{{/if}}>3100</option>
						<option value="3200" {{if productCode == 3200}}selected{{/if}}>3200</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>予備１</td>
				<td>
					<input type="text" class="form-control input-extend-m" value="${reserved1}" id="diReserved1" validate="ac" max-len="20" label="予備１"/>
					<div class="error"></div>
				</td>
			</tr>
			<tr>
				<td>予備２</td>
				<td>
					<input type="text" class="form-control input-extend-m" value="${reserved2}" id="diReserved2" validate="ac" max-len="20" label="予備２"/>
					<div class="error"></div>
				</td>
			</tr>
			<tr>
				<td>登録日時</td>
				<td class="values">${registrationDate}</td>
			</tr>
			<tr>
				<td>更新日時</td>
				<td class="values">${updateDate}</td>
			</tr>
			<tr>
				<td>登録更新オペレーターID</td>
				<td class="values">${operatorID}</td>
			</tr>
		</table>
		<div class="btn-grp-left">
			<button type="button" class="btn btn-extend btn-success" id="update">更新</button>
			<button type="button" class="btn btn-extend btn-success" id="cancel">キャンセル</button>
		</div>
		<input type="hidden" id="selectedSimNumber" value="${simNumber}"/>
		<input type="hidden" id="selectedUseDateMonth" value="${useDateMonth}"/>
	</div>
</script>
</html>